.dashboardContainerFull {
  width: 95%;
  height: 901px;
  display: flex;
  /* flex-direction: row;
  justify-content: center; */
  background-color: deeppink;
}

.dashboardContainer {
  width: 95%;
  background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(12, 6%);
  grid-template-rows: 80px 42px;
  grid-column-gap: 2.555%;
  /* overflow: hidden; */
}

.dashboard {
  width: 160px;
  background-color: maroon;
}

h6.heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.headerContainer {
  height: 120px;
  display: flex;
  grid-column-start: 1;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.header {
  height: 120px;
  width: 100%;
  background-color: #fff;
}

.heading {
  width: 208px;
  height: 22px;
}
