.smallCard {
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 6px 14px 0 rgba(10, 56, 108, 0.05);
}

.smallCardUp {
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 6px 14px 0 rgba(10, 56, 108, 0.05);
}

.smallCardDown {
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 6px 14px 0 rgba(10, 56, 108, 0.05);
}

.bigCard {
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 6px 14px 0 rgba(10, 56, 108, 0.05);
}

.headline {
    width: 100% !important;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headline p {
    font-size: 14px;
    line-height: 17px;
    margin-left: 16px;
    color: #0D254D;
}

.open {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open img,
.close img {
    cursor: pointer;
}

.fullScreen {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 6;
    z-index: 1;
    background-color: #fff;
}

.fullScreen .chart {
    width: 97.5%;
    height: 623px;
    align-items: center;
}

.fullScreen .chart canvas {
    height: 474px !important;
}

.graphSection {
    width: 77%;
    height: 677px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.optionsSection {
    width: 27%;
    background-color: #F3F7FD;
}

.close {
    display: flex;
    justify-content: flex-end;
}