.smallCard {
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #fff;
  border-radius: 4px;
}

.smallCardUp {
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: #fff;
  border-radius: 4px;
}

.smallCardDown {
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #fff;
    border-radius: 4px;
}

.bigCard {
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: #fff;
    border-radius: 4px;
}

.headline {
    width: 100%;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headline p {
    font-size: 14px;
    line-height: 17px;
    margin-left: 16px;
    color: #0D254D;
}

.open {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullScreen {
  grid-column-start: 2;
  grid-column-end: 14;
  grid-row-start: 2;
  grid-row-end: 7;
  background-color: pink;
  z-index: 1;
}
