.headerBackground {
    width: 103.06%;
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #fff;
}

.headerContainer {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 2;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
    width: 100%;
    background-color: #fff;
}

.heading {
    height: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerLogo {
    max-height: 29px;
    max-width: 159px;
    margin-left: 36px;
}

.chooseCathegory {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 36px;
    height: 35px;
    width: 210px;
    border-radius: 4px;
    background-color: #F3F9FF;
    box-shadow: 0 2px 3px 0 rgba(13, 37, 77, 0.03);
    color: #0D254D;
}

.chooseCathegory p {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.arrowExpandIcon {
    height: 20px;
    width: 20px;
    margin-left: 59px;
    /* margin-right: 19px; */
}