.timelineContainer {
    display: flex;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 4px;
    background-color: #ffffff;
}

.timeline {
  width: 780px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.option {
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option:nth-child(1) {
    color: #ffffff;
    background-color: #4C84FF;
}

.chooseTime {
    width: 190px;
    height: 35px;
    display: flex;
    flex-direction: row;
    border: 1px solid #4C84FF;
    border-radius: 4px;
}

.timeline p {
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    margin: 0;
}

.calendarContainer {
  height: 35px;
  display: flex;
  flex-direction: row;
}

.calendarContainer input {
  display: flex;
  border-radius: 4px;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #E3E8EF;
  text-align: center;
}

.flatpickr {
  width: 214px;
  box-sizing: border-box;
  font-size: 10px;
}

.calendarContainer input p {
}
