.timelineContainer {
    display: flex;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 4px;
    background-color: #ffffff;
}

.timeline {
    margin-left: 24px;
    grid-column-start: 2;
    grid-column-end: 14;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.option {
    box-sizing: border-box;
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #4C84FF;
    /* border: 1px solid #4C84FF; */
}

.chooseTime .option:nth-child(1) {
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;
}

.chooseTime .option:nth-child(2) {
    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
}

.option.active {
    box-sizing: border-box;
    color: #fff;
    background-color: #4C84FF;
    /* border: 1px solid #fff; */
}

.option.inactive {
    box-sizing: border-box;
    color: #4C84FF;
    background-color: #fff;
    /* border: 1px solid #4C84FF; */
}

.chooseTime {
    margin-right: 24px;
    width: 190px;
    height: 35px;
    display: flex;
    flex-direction: row;
    border: 1px solid #4C84FF;
    border-radius: 4px;
}

.timeline p {
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    margin: 0;
}

.calendarContainer {
    height: 35px;
    display: flex;
    flex-direction: row;
}

.calendarContainer input {
    display: flex;
    border-radius: 4px;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #E3E8EF;
    text-align: center;
}

.updateContainer {
    margin: 0 24px 0 24px;
}

.update {
    width: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    height: 35px;
}

.update.hide {
    border: 1px solid #E3E8EF;
    color: #E3E8EF;
    background: #fff;
}

.update.show {
    color: #163C6D;
    background: #86D6B2;
    border: none;
}

/* .update:active {
    color: #163C6D;
    background: #86D6B2;
    border: none;
} */

.flatpickr {
    width: 214px;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #F3F9FF;
    box-shadow: 0 2px 3px 0 rgba(13, 37, 77, 0.03);
    color: #163C6D;
    font-family: Lato;
    letter-spacing: 1px;
    font-weight: 600;
}

/* color change of calendar */

.flatpickr-months .flatpickr-month,
.flatpickr-weekdays,
span.flatpickr-weekday,
span.flatpickr-prev-month,
.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
    background: unset;
    color: #0D254D;
    fill: #0D254D;
}

/* set background to white to remove transparency from underlying objects */

.flatpickr-months {
    background: #fff;
}

/* push sunday up to be visible again  */

span.flatpickr-weekday {
    z-index: 5;
}

/* remove hover state colors of calendar */

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: #0D254D;
}

.flatpickr-day.selected {
    background: #86D6B2;
    color: #163C6D;
}

.flatpickr-day.selected:hover,
.flatpickr-day.selected:focus {
    background: #86D6B2;
    border: unset;
    color: #163C6D;
    font-size: 12px;
}

.flatpickr-day,
.flatpickr-day:hover,
.flatpickr-day:focus {
    background: unset;
    border: unset;
    font-size: 12px;
    color: #0D254D;
    font-weight: bold;
}

span.flatpickr-weekday {
    color: rgba(10, 56, 108, 0.38)
}

.flatpickr-current-month span.cur-month {
    font-weight: unset;
}

/* unset hover state and focus */

.flatpickr-current-month span.cur-month:hover,
.flatpickr-current-month span.cur-month:focus,
.flatpickr-current-month .numInputWrapper:hover,
.flatpickr-current-month .numInputWrapper:focus {
    background: unset;
}

/* hide year up and down arrows */

span.arrowUp,
span.arrowDown {
    display: none;
}

.flatpickr-time input.flatpickr-hour,
.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second,
.flatpickr-time .flatpickr-am-pm {
    color: #163C6D;
}

.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time .flatpickr-am-pm:focus {
    background: unset;
}

.flatpickr-day.nextMonthDay,
.flatpickr-day.prevMonthDay {
    visibility: hidden;
}

.flatpickr-time input:hover,
.flatpickr-time input:focus,
.flatpickr-time *:hover,
.numinput:hover {
    background: unset;
}

.arrow {
    display: flex;
    margin-left: 6px;
    margin-right: 6px;
    align-self: center;
    width: 24px;
    height: 24px;
}

.flatpickr:focus {
    border: 1px solid #4C84FF;
    background-color: #F3F9FF;
    box-shadow: 0 2px 3px 0 rgba(13, 37, 77, 0.03);
}

.flatpickr-calendar.arrowTop,
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
    border-bottom-color: #fff;
}