.dashboardContainerFull {
    width: 95%;
    display: flex;
}

.dashboardContainer {
    width: 100%;
    background-color: #f2f7fb;
    display: grid;
    /* grid-template-columns: 0.4% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 0%; */
    grid-template-columns: 0.4% repeat(13, 5.5%) 0%;
    grid-template-rows: 72px 72px 240px 183px 183px 27px 10px;
    grid-gap: 25px 2.555%;
}

.dashboard {
    width: 160px;
    background-color: maroon;
    grid-column-start: 1;
    grid-column-end: span col4-start;
    grid-row-start: 2;
    grid-row-end: 3;
}

.dashboardHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.dashboardHeading h5 {
    color: #0D254D;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 17px;
    width: 185px;
    font-weight: normal;
}